html,body{width:100%;height:100%;}
.scre-Wrap{width:100%;height:100%;background-color:black;opacity:0.2;_filter:alpha(opacity=20);position:fixed;_position:absolute;left:0;top:0;z-index:99;}
.loading{position:absolute;left:50%;top:50%;z-index:111;margin-left:-110px;margin-top:-10px;}
.pop-wrap{
	position:absolute;
	left:50%;top:50%;
	z-index:999999;
	width:450px;height:510px;margin-left:-225px;
	margin-top:-255px;background-color:transparent;}
/* 点击详情按钮 */
.infoBtn{width:80px;text-align:center;border:1px solid #000;cursor:pointer;}




.market-sell-time{
	width:465px;
	
}
.sell-time-st{
	width:456px;
	overflow: hidden;
	zoom: 1;
}
.sell-time-start{
	float:left;
	width:132px;
	height:43px;
	_display:inline;
}
.sell-time-start span,
.sell-time-stop span{
	font-size: 14px;
	color:#7b7b7b;
}
.sell-time-start input,
.sell-time-stop input{
	color:#7b7b7b;
	text-align: center;
	font-size:14px;
	border:1px solid #e1e1e1;
	float:left;
	width:108px;
	height:18px;
}
.sell-time-stop{
	float:left;
	margin-left:56px;
	width:132px;
	height:43px;
	_display:inline;
}
.sell-time-calen{
	float: right;
	width:17px;
	height:22px;
	cursor:pointer;
	background: url(../img/sold-calen.gif) 0 0 no-repeat;
}
.sell-time-shop{
	float:left;
	margin-left:48px;
	_display: inline;
}
.sell-time-st select{
	color:#7b7b7b;
	border:1px solid #e1e1e1;
	width:82px;
	height:18px;
	margin-top: 23px;
}
.sell-time-st select{
	font-size: 12px;
}
.sell-wrap-nav-head{
	background: url(../img/sales-smartlogo.gif) 35px 30px no-repeat;
}
.check-wrap-nav-head{
	background: url(../img/check-smartlogo.gif) 35px 30px no-repeat;
}
.auth-wrap-nav-head{
	background: url(../img/auth-smartlogo.gif) 35px 30px no-repeat;
}
.wuliao-wrap-nav-head{
	background: url(../img/wuliao-smartlogo.gif) 35px 30px no-repeat;
}
.ruku-wrap-nav-head{
	background: url(../img/ruku-smartlogo.gif) 35px 30px no-repeat;
}



/*seek*/
.sell-time-seektext{
	width:456px;
	height:23px;
}
.sell-time-seek{
	width:456px;
	margin-top:19px;
}
.sell-time-seek span{
	font-size: 14px;
	line-height:22px;
	color:#7b7b7b;
	font-family: "微软雅黑"；
}
.sell-time-seek input{
	text-align: center;
	line-height: 18px;
	font-size: 14px;
	margin-left:16px;
	width:356px;
	height:18px;
	border: 1px solid #e1e1e1;
}
.sell-time-seek .sell-time-seekbut{
	color:white;
	margin-left:0px;
	width:122px;
	height:34px;
	margin-top:30px;
	border:none;
	cursor:pointer;
	background: url(../img/sold-note.gif) 0 0 no-repeat;
}
/*table*/
.market-sell-table{
	margin-top:87px;
}

.sell-table-top span,
.sell-table-bottom span{
	color:#7b7b7b;
	font-size:14px;
}
.sell-table-top select,
.sell-table-bottom select{
	border:1px solid #e1e1e1;
	width:53px;
	height:18px;
	margin-left: 16px;
	margin-right: 14px;
	font-size: 12px;
	color:#7b7b7b;
}
.sell-table-topT{
	color:#005d99;
	font-size:14px;
	margin-left:78px;
}
.sell-table-topB{
	color:#005d99;
	font-size:14px;
	margin-left:25px;
}
.sell-table-center{
	margin-top: 47px;
	margin-bottom:37px;
	border:1px solid #d6d6d6;
	border-collapse:collapse;
}
.sell-table-center td a{
	display: block;
	width:130px;
	height:21px;
	overflow: hidden;
	line-height: 21px;
	color:#005d99;
}.sell-table-center th{
	font-weight: bold;
}
.sell-table-center td,
.sell-table-center th{
	text-align: center;
	font-size: 12px;
	width:129px;
	height:20px;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
}
.approve .market-sell .sell-time-seekbut{
	color:white;
	margin-left:0px;
	width:122px;
	height:34px;
	margin-top:21px;
	border:none;
	cursor:pointer;
	background: url(../img/sold-note.gif) 0 0 no-repeat;
}
.approve .market-sell-table{
	margin-top: 37px;
}

.report .sell-time-seekbut{
	color:white;
	margin-left:0px;
	width:122px;
	height:34px;
	margin-top:21px;
	margin-right: 25px;
	border:none;
	cursor:pointer;
	background: url(../img/sold-note.gif) 0 0 no-repeat;
}
.report .report-time-span{
	color:#ff9f10;
	font-size: 16px;
}
.report .market-sell-time{
	margin-bottom:38px;
}
.report .market-sell-table{
	margin-top: 22px;
}
.report .sell-table-center{
	margin-top:26px;
}
.report .report-derive{
	color:white;
	margin-left:0px;
	width:122px;
	height:34px;
	margin-top:24px;
	margin-right: 25px;
	border:none;
	cursor:pointer;
	background: url(../img/sold-note.gif) 0 0 no-repeat;
}




.reduce .market-sell-table{
	margin-top: 26px;
}
.reduce .sell-table-center{
	margin-top:26px;
	margin-bottom:26px;
}



.store .sell-time-seektext{
	margin-left:34px;
}
.store .sell-time-shop span{
	margin-right:16px;
	font-size: 14px;
	color:#7b7b7b;
}
.store .market-sell-table{
	margin-top: 33px;
}
.store .sell-table-center{
	margin-top:26px;
	margin-bottom:26px;
}
.attendance .sell-time-shop span{
	font-size: 14px;
	color:#7b7b7b;
	margin-right:16px;
}
.attendance .market-sell-table{
	margin-top: 37px;
}
.attendance .sell-table-center{
	margin-top:45px;
	margin-bottom:35px;
}
.attendance .sell-time-shop{
	margin-left: 100px;
}


.user .sell-time-seekbut{
	color:white;
	margin-left:460px;
	width:122px;
	height:34px;
	margin-top:24px;
	margin-right: 25px;
	border:none;
	cursor:pointer;
	background: url(../img/sold-note.gif) 0 0 no-repeat;
}
.user .sell-time-seek select{
	margin-top: 24px;
	width:82px;
	height:18px;
	font-size: 12px;
	border:1px solid #e1e1e1;
}
/*alert*/
.sales-record{
	width:398px;
	height: 462px;
	background-color: white;
	border-radius:3px;
	padding:22px 20px;
}
.sales-top{
	padding-bottom: 1px;
	border-bottom: 1px solid #ff9900;
	margin-bottom: 22px;
}
.sales-top h1{
	width:104px;
	height: 26px;
	background-color: #ff9900;
	color: white;
	text-align:center;
	line-height: 26px;
}
.sales-con p{
	padding-bottom: 10px;
	padding-left: 16px;
	color:#727272;
}
.sales-price{
	padding-top: 20px;
}
.sales-price input{
	width: 76px;
	height: 20px;
	border: 1px solid #e1e1e1;
	text-align: center;
}
.sales-reduce{
	width: 60px;
	height: 21px;
	border: 1px solid #a3a3a3;
	border-radius:3px;
	font-size: 12px;
}
.sales-state{
	padding-left: 16px;
	color:#727272;
}
.sales-state p{
	padding-left: 72px;
}
.sales-check span{
	font-size: 15px;
	padding-right: 18px;
}
.sales-choice{
	width: 234px;
	margin:26px auto;
}
.sales-choice input{
	width: 72px;
	height: 24px;
	color: white;
	border-radius: 3px;
	margin-right: 42px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	background-color: #9ca1a8;
	border: 1px solid #8c8d91;
	cursor: pointer;
}
/**/
.price-reasons{
	width: 394px;
	height:246px;
	border-radius:4px;
	background-color: white;
	padding:22px 20px;
	margin-top: 100px;
}
.pri-top{
	padding-bottom: 1px;
	border-bottom: 1px solid #ff9900;
	margin-bottom: 22px;
}
.pri-top h1{
	width:104px;
	height: 26px;
	background-color: #ff9900;
	color: white;
	text-align:center;
	line-height: 26px;
}
.pri-con{
	_zoom:1;
}
.pri-con span{
	padding-left:16px;
}
.reasons-text{
	width: 280px;
	height: 78px;
	border: 1px solid #e1e1e1;
	overflow-y:auto;
	float: right;
	margin-top: 4px;
	margin-right: 20px;
	_display:inline;
}
.pri-choice{
	width: 234px;
	float: right;
	padding-right: 20px;
	padding-top: 72px;
}
.pri-choice input{
	width: 72px;
	height: 24px;
	color: white;
	border-radius: 3px;
	margin-left: 42px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	background-color: #9ca1a8;
	border: 1px solid #8c8d91;
	cursor: pointer;
	font-size: 14px;
}
/**/
.delete-reason{
	width: 438px;
	height:184px;
	background-color: white;
	border-radius: 4px;
	margin-top: 150px;
}
.delete-reason p{
	text-align: center;
	color: #9e9e9e;
	font-size: 18px;
	padding-top: 58px;
}
.del-choice{
	width: 234px;
	margin: 0 auto;
	padding-right: 20px;
	padding-top: 42px;
}
.del-choice input{
	width: 72px;
	height: 24px;
	color: white;
	border-radius: 3px;
	margin:0  21px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	background-color: #9ca1a8;
	border: 1px solid #8c8d91;
	cursor: pointer;
	font-size: 14px;
}
/**/
.edit-reasons{
	width: 394px;
	height:246px;
	border-radius:4px;
	background-color: white;
	padding:22px 20px;
	margin-top: 100px;
}
.edit-top{
	padding-bottom: 1px;
	border-bottom: 1px solid #ff9900;
	margin-bottom: 22px;
}
.edit-top h1{
	width:104px;
	height: 26px;
	background-color: #ff9900;
	color: white;
	text-align:center;
	line-height: 26px;
}
.edit-con{
	_zoom:1;
}
.edit-con span{
	padding-left:16px;
}
.reasons-text{
	width: 280px;
	height: 78px;
	border: 1px solid #e1e1e1;
	overflow-y:auto;
	float: right;
	margin-top: 4px;
	margin-right: 20px;
	_display:inline;
}
.edit-choice{
	width: 234px;
	float: right;
	padding-right: 20px;
	padding-top: 72px;
}
.edit-choice input{
	width: 72px;
	height: 24px;
	color: white;
	border-radius: 3px;
	margin-left: 42px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	background-color: #9ca1a8;
	border: 1px solid #8c8d91;
	cursor: pointer;
	font-size: 14px;
}
/**/
.edit-portal{
	width: 391px;
	height: 246px;
	border-radius:4px;
	background-color: white;
	padding:22px 20px;
	margin-top: 100px;
}
.edit-top{
	padding-bottom: 1px;
	border-bottom: 1px solid #ff9900;
	margin-bottom: 22px;
}
.edit-top h1{
	width:104px;
	height: 26px;
	background-color: #ff9900;
	color: white;
	text-align:center;
	line-height: 26px;
}
.ePortal-con{
	color:#727272;
}
.ePortal-con p{
	padding-left: 18px;
	padding-bottom: 24px;
	_zoom:1;
}
.ePortal-con label{
	float: left;
	margin-top: -1px;
}
.ePortal-con input{
	width: 278px;
	height: 18px;
	border: 1px solid #e1e1e1;
	margin-left: 14px;
}
.ePortal-choice{
	width: 234px;
	padding-right: 42px;
	padding-top: 72px;
	margin: 0 auto;
}
.ePortal-choice input{
	width: 72px;
	height: 24px;
	color: white;
	border-radius: 3px;
	margin-left: 42px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	background-color: #9ca1a8;
	border: 1px solid #8c8d91;
	cursor: pointer;
	font-size: 14px;
}
/**/
.ale-add{
	width: 440px;
	height:285px;
	border-radius: 3px;
	background: white;
	margin-top: 100px;
}
.add-user{
	width: 106px;
	height: 28px;
	line-height: 28px;
	color: white;
	font-size: 16px;
	text-align: center;
	background: #ff9900;
}
.add-head{
	width:398px; 
	height: 29px;
	border-bottom: 1px solid #ff9900;
	margin: 0 auto;
	padding-top:22px; 
}
.add-item{
	width: 394px;
	height: 26px;
	margin: 0 auto;
	padding-top: 24px;
}
.clear{
	clear:both;
}
.add-item span{
	float: left;
	width:100px;
	height: 26px;
	font-size: 14px;
	color: #727272;
	text-align: right;
}
.add-item .add-name{
	float:left;
	width: 260px;
	height: 20px;
	line-height: 26px;
	border: 1px solid #e1e1e1;
	margin-left: 20px;
}
.add-sel{
	width: 80px;
	height: 18px;
	margin-left: 20px;
	border: 1px solid #a3a3a3;
	border-radius: 3px;
	font-size: 12px;
}
.add-btn{
	width: 230px;
	height: 26px;
	padding: 36px 0 0 150px;
}
.cancel{
	width: 72px;
	height: 24px;
	color: white;
	font-size: 14px;
	border-radius: 3px;
	background-image: -webkit-linear-gradient(top,#bdc1c5,#8b919a);
	border: 1px solid #8c8d91;
	cursor: pointer;
	margin-left:40px;	
}
.ale-a{
	width: 438px;
	height: 286px;
}
.add-a-b{
	margin-top: 30px;
}
.add-b-choice1,.add-b-choice2{
	float: left;
	width: 50px;
	height: 15px;
	margin-top: 3px;
}
.add-item .add-store{
	float: left;
	width: 160px;
	height: 18px;
}